@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="edit" style="margin-left:20%; background-color:white; padding:20px; width:50%">

    <div class="row" style="padding:inherit;margin-bottom:20px">
        <img src="@Model.imgsrc"  style="height:100px;width:100px" alt="usericon" />
        <div class="info">
            <h6>@Model.Name</h6>
            <h5>@Model.Title</h5>
            <p>@Model.Content</p>
        </div>
    </div>

</div>